<div class="header-container">
  <img class="stav-logo" ngSrc="assets/images/logo.webp" alt="logo" height="107" width="89">
  <div class="stav-nav">
    <div class="stav-nav-item" id="music" (click)="scrollToSection($event, 'target')">
      MUSIC
    </div>
    <div class="stav-nav-item" id="videos">
      VIDEOS
    </div>
    <div class="stav-nav-item" id="about">
      ABOUT
    </div>
    <div class="stav-nav-item" id="shows">
      SHOWS
    </div>
    <div class="stav-nav-item" id="contact">
      CONTACT
    </div>
  </div>
</div>
