<div class="header-container">
  <img class="stav-logo" ngSrc="assets/images/logo.webp" alt="logo" height="107" width="89">
  <div class="stav-nav">
    <div class="stav-nav-item" (click)="scrollToSection($event, 'music')">
      MUSIC
    </div>
    <div class="stav-nav-item" (click)="scrollToSection($event, 'videos')">
      VIDEOS
    </div>
    <div class="stav-nav-item" (click)="scrollToSection($event, 'about')">
      ABOUT
    </div>
    <div class="stav-nav-item" (click)="scrollToSection($event, 'shows')">
      SHOWS
    </div>
    <div class="stav-nav-item" (click)="scrollToSection($event, 'contact')">
      CONTACT
    </div>
  </div>
</div>
