.header-container {
  height: 179px;
  background: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.stav-logo {
  height: 107px;
}

.stav-nav {
  font-size: 1.8rem;
  line-height: 55px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 85%;

}

.stav-nav-item {
  transition: color 200ms;
  cursor: pointer;
}

.stav-nav-item:hover {
  color: rgb(149, 16, 25);
}

.hamburger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 15px;
}

.side-drawer {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding-top: 60px;
  transition: left 0.3s;
  z-index: 99999;
  padding-left: 20px;
  font-size: 2rem;
  line-height: 2;
  color: white;
}

.side-drawer.open {
  left: 0;
}

.close-drawer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header-container {
    height: 125px;
  }

  .stav-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
