.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  .social-container {
    width: 205px;
    display: flex;
    justify-content: space-between;
    margin: 20px;


    a {
      text-decoration: none;
      color: #949494;

      &:visited {
        color: #949494;
      }

      &:hover {
        color: #949494;
      }
    }

    i {
      font-size: 1.875rem;
      cursor: pointer;
      width: 33px;
      height: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .showcase-header {
    font-size: 2.5rem;
  }

  .showcase-subheader {
    font-size: 2.5rem;
    letter-spacing: -0.01em;
  }
}

.swiper-wrapper {
  width: 100%;
  position: relative;
  padding: 0 40px;
  user-select: none;
  margin-top: 20px;
  max-width: 768px;

  img {
    height: 100%;
    cursor: pointer;
    max-height: 40vh;
  }

  .slide-trigger {
    position: absolute;
    right: 10px;
    top: calc(50% - 1.7rem);
    cursor: pointer;
    color: white;

    &.slide-next {
      right: 10px;
    }

    &.slide-prev {
      left: 10px;
    }
  }
}

