<div class="about-container" >
  <div class="about-header" id="about">
    STAV
  </div>
  <div class="about-section">
    <div>
      A jazz ensemble whose DNA is inspired by minimalistic music, African, classical, rock, and pop music
    </div>
    <div>
      (Stav Achai - piano and compositions, Shahar Haziza - drums, Roi Avivi - electric guitar, Omri Shani - bass.)
    </div>
  </div>

  <div class="about-section">
    STAV’s first album, Plastic Cocoon, was released in 2020 and was awarded the Album of the year award by Columbus Magazine and received many accolades worldwide.
  </div>
  <div class="about-section">
    <div>
      Stav Achai is a Tel Aviv based pianist,  composer and arranger.
    </div>
    <div>
      As a performing artist, she is known for her unique sound, combining jazzy RnB harmonies with catchy melodies.
    </div>
  </div>
  <div class="about-section">
    <div>
      Stav began her musical journey from a classical point of view but as the years went by, she started to explore the wide range of jazz, rock and pop music.
    </div>
    <div>
      Today she combines the worlds creating a colorful palette of music
    </div>
  </div>
</div>
