<div class="shows-container" >
  <div class="shows-header" id="shows">
    SHOWS
  </div>
  <div class="show">
    <img ngSrc="assets/images/album-launch.webp" alt="album-launch" height="362" width="619">
    <div class="album-launch">
      <div class="header">
        ALBUM LAUNCH
      </div>
      <div class="where">
        LIVE AT THE RED SEA JAZZ FESTIVAL
      </div>
      <div class="when">
        11:15 | 16.11.24
      </div>
      <a class="tickets" href="https://redseajazz.co.il/shows/stav-2/" target="_blank">
        TICKETS
      </a>
    </div>
  </div>
</div>
