<div class="section-container" >
  <div class="section-header" id="shows">
    SHOWS
  </div>
  <div class="show">
    <img src="assets/images/album-launch.webp" alt="album-launch">
    <div class="album-launch">
      <div class="header">
        <div>
          ALBUM
        </div>
        <div>
          LAUNCH
        </div>
      </div>
      <div class="where">
        LIVE AT THE RED SEA JAZZ FESTIVAL
      </div>
      <div class="when">
        11:15 | 16.11.24
      </div>
      <a class="tickets" href="https://redseajazz.co.il/shows/stav-2/" target="_blank">
        TICKETS
      </a>
    </div>
  </div>
</div>
