<div class="music-container">
  <div class="music-header">
    MUSIC
  </div>
  <div class="image-container">
    <a [href]="cocoAndRicoLink" target="_blank">
      <img ngSrc="/assets/images/coco_and_rico.webp" alt="coco and rico" height="291" width="291">
    </a>
    <a target="_blank" class="album-out-container">
      <div class="album-out">
        FULL ALBUM OUT ON 1.11.24
      </div>
      <img ngSrc="/assets/images/tears_in_colours.webp" alt="tears in colours" height="291" width="291">
    </a>
    <a [href]="plasticCocoonLink" target="_blank">
      <img ngSrc="/assets/images/plastic_cocoon.webp" alt="plastic cocoon" height="291" width="291">
    </a>
  </div>

</div>
