.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.album-out-container {
  position: relative;

  .album-out {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 18px);
    font-size: 2rem;
    color: #e6ef07;
    background: black;
    font-family: 'Bebas Neue', sans-serif;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

